body{
    background-color: blanchedalmond;
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
    font-family: courier;
    color: black;
    font-weight: bolder;
    margin-bottom: 20px;
    font-size: 70px;
}
#right{
    float: right;
    width: 50%;
    height: 100%;
    background-color: cornflowerblue; 
    display: inline-block;
}
#close{
    text-align: center;
    color: currentColor;
    margin-top: 50%;
    font-size: 100px;
}
#left{
    float: left;
    height: 100%;
    width: 50%;
    background-color: black;
    display: inline-block;
}
#bars{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center; 
}
#one{
    display: inline-block;
    height: 9%;
    width: 45%;
    background-color: cornflowerblue;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 20px;
}
#two{
    display: inline-block;
    height: 15px;
    width: 45%;
    background-color: darkgrey;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 20px;
}
#colorname{
    width: 100%;
    background-color: whitesmoke;
    height: 5%;
    text-align: center;
}
#best{
    font-family: sans-serif;
    font-size: 30px;
    color: currentColor;
    font-weight: 400;

}
#box{
    width: 100%;
    margin-top: 20px;
    
}
.square{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border: 2px solid black;
    font-size: 15px;
    font-family: verdana;
    font-weight: bold;
    border-radius: 50%;
   
}
.square:hover{
    transform:rotate(2deg) scale(1.1);
    
}
#first{
    background-color: red;
    margin-left: 10%;
}
#second{
    background-color: yellow;
    margin-left: 10%;
}
#third{
    background-color: green;
    margin-left: 10%;
}
#fourth{
    background-color: orangered;
    margin-left: 10%;
}
#fifth{
    background-color: blue;
    margin-left: 10%;
}
#sixth{
    background-color: purple;
    margin-left: 10%;
}
#seventh{
    background-color: white;
    margin-left: 10%;
}
#eight{
    background-color: lightpink;
    margin-left: 10%;
}
#ninth{
    background-color: brown;
    margin-left: 10%;
}
